body {
    background: #F9F7FE;
}

h1 {
    color: #3c3c3c;
    font-size: 38px;
    font-weight: 700;
    line-height: 29px;
    margin: 20px 0 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

small {
    border-top: 1px solid #f9f7fe;
    padding-top: 40px;
    text-align: center;
}
small a {
    color: #885df1;
}

.weather-app {
  background: #fff;
  border-radius: 16px;
  color: #A9A7B3;
  font-size: 16px;
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  box-shadow: 0px 0px 20px rgb(65 50 100 / 8%);
}

.first-row {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.form-control {
    background: #f9f7fe;
    border-color: #f8d594 !important;
}

.btn {
    background: #885df1;
    font-weight: 700;
    color: #f8d594;
    --bs-btn-border-color: #f8d594;
}
.btn:hover{
    background: #f8d594;
    color: #fff;
}

.humidity, 
.wind,
.max-temp {
    color:#f65282 ;
}

.max-temp,
.min-temp {
    font-size: 18px;
    font-weight:600;
}

.min-temp{
    color: #FA98B5;
}

.actual-weather-icon {
    color: #3c3c3c;
    display: block;
    font-size: 52px;
    --fa-animation-duration: 120s;
}

.temperature {
    color: #3c3c3c;
    font-size: 80px;
    margin-left: 10px;
    font-weight: bold;
}

.unit {
    color: #3c3c3c;
    font-size: 28px;
    position: relative;
    top: -15px;
}

.forecast {
  margin: 40px 0;
  padding-bottom: 50px;
}

.weather-icon {
    color: #3c3c3c;
    display: block;
    font-size: 35px;
    margin: 20px auto;
}
